@if (isVisible) {
  <p-sidebar
    [(visible)]="isVisible"
    position="right"
    styleClass="w-[90%] md:w-[40rem]"
    (onHide)="hideRoomSidebar()">
    <ng-template pTemplate="header">
      <h3 class="text-headline-md font-bold">
        Habitaciones del hotel {{ actualHotel?.name }}
      </h3>
    </ng-template>
    <div class="rooms-sidebar-container">
      <div>
        <app-button
          text="Crear nueva habitación"
          size="small"
          (click)="openCreateRoomModal()">
          <app-icon name="matAddHomeWorkRound" class="mr-2"></app-icon>
        </app-button>
      </div>
      <app-list-rooms></app-list-rooms>
    </div>
  </p-sidebar>
}
