/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/dosis:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Principal Title (Display) */
.text-display-lg {
  font-size: 48px;
  line-height: 56px;
}
.text-display-md {
  font-size: 40px;
  line-height: 48px;
}
.text-display-sm {
  font-size: 32px;
  line-height: 40px;
}

/* Title (Headline) */

.text-headline-lg {
  font-size: 28px;
  line-height: 36px;
}
.text-headline-md {
  font-size: 24px;
  line-height: 32px;
}
.text-headline-sm {
  font-size: 20px;
  line-height: 28px;
}

/* Subtitle (Subheadline) */

.text-subheadline-lg {
  font-size: 18px;
  line-height: 24px;
}
.text-subheadline-md {
  font-size: 16px;
  line-height: 22px;
}
.text-subheadline-sm {
  font-size: 14px;
  line-height: 20px;
}

/* Base Text (Body) */

.text-body-lg {
  font-size: 16px;
  line-height: 24px;
}
.text-body-md {
  font-size: 14px;
  line-height: 22px;
}
.text-body-sm {
  font-size: 12px;
  line-height: 18px;
}

/* Small Text (Caption) */
.text-caption-lg {
  font-size: 12px;
  line-height: 18px;
}
.text-caption-md {
  font-size: 11px;
  line-height: 16px;
}
.text-caption-sm {
  font-size: 10px;
  line-height: 14px;
}
