/* Principal Title (Display) */
.text-display-lg {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}
.text-display-md {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
.text-display-sm {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

/* Title (Headline) */

.text-headline-lg {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}
.text-headline-md {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.text-headline-sm {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

/* Subtitle (Subheadline) */

.text-subheadline-lg {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.text-subheadline-md {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.text-subheadline-sm {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

/* Base Text (Body) */

.text-body-lg {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.text-body-md {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.text-body-sm {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* Small Text (Caption) */
.text-caption-lg {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.text-caption-md {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}
.text-caption-sm {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
