:root {
  /* Primary Color */
  --primary-color-50: 236 244 248;
  --primary-color-100: 207 225 235;
  --primary-color-200: 178 206 223;
  --primary-color-300: 149 188 210;
  --primary-color-400: 130 174 201;
  --primary-color-500: 113 160 193; /* Original **/
  --primary-color-600: 102 144 173;
  --primary-color-700: 86 122 147;
  --primary-color-800: 69 98 120;
  --primary-color-900: 55 79 97;

  /* Secondary Color */

  --secondary-color-50: 251 230 233;
  --secondary-color-100: 246 179 186;
  --secondary-color-200: 241 128 139;
  --secondary-color-300: 229 77 92;
  --secondary-color-400: 214 46 62;
  --secondary-color-500: 198 15 34; /* Original */
  --secondary-color-600: 178 14 31;
  --secondary-color-700: 149 12 26;
  --secondary-color-800: 119 9 21;
  --secondary-color-900: 91 7 16;

  /* Accent Color */

  --accent-color-50: 250 245 234;
  --accent-color-100: 246 236 217;
  --accent-color-200: 241 227 200;
  --accent-color-300: 236 218 183;
  --accent-color-400: 234 212 168; /* Original */
  --accent-color-500: 209 191 151;
  --accent-color-600: 184 168 134;
  --accent-color-700: 160 146 117;
  --accent-color-800: 135 123 101;
  --accent-color-900: 111 101 84;

  /* Gray Color */
  --gray-color-50: 245 245 245;
  --gray-color-100: 230 230 230;
  --gray-color-200: 200 200 200;
  --gray-color-300: 170 170 170;
  --gray-color-400: 140 140 140;
  --gray-color-500: 105 105 105; /* Original */
  --gray-color-600: 90 90 90;
  --gray-color-700: 70 70 70;
  --gray-color-800: 50 50 50;
  --gray-color-900: 30 30 30;
}
