/** System Design tokens **/

:root {
  /* Colors */
  --primary-color: 113 160 193;
  --secondary-color: 73 91 99;
  --accent-color:  234 212 168;
  --background-color: 241 250 238;
  --primary-text-color: 255 255 255;
  --secondary-text-color: 255 255 255;
  --border-color: 90 120 140;
  --highlight-bg: 255 255 255;
  --highlight-text-color: 0 0 0;

  --error-color: 220 53 69;
  --success-color: 40 167 69;
  --info-color: 23 162 184;
  --warning-color: 255 193 7;

  --gray-color: 105 105 105;
  --black-color : 15 26 34;
  --white-color : 255 255 255;


  /* Tipography */
  --font-family-base: 'Roboto', sans-serif;
  --font-size-base: 16px;
  --font-weight-bold: 700;
  --line-height: 1.5;

  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-xxxl: 64px;

  /* Border radius */
  --border-radius-base: 4px;
  --border-radius-sm: 2px;
  --border-radius-lg: 8px;
  --border-radius-xl: 16px;
  --border-radius-full: 9999px;

  /* Box shadow */
  --box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.15);
}
