.main-header-container {
  width: 100%;
  @apply flex justify-center;
  padding-left: var(--main-x-space);
  padding-right: var(--main-x-space);
  @apply bg-white;
  @apply shadow-md;
  @apply py-xs;
}

.main-header {
  @apply flex justify-between items-center;
  width: 100%;
  max-width: 110rem;
  height: var(--main-header-height);
}

.main-header .main-brand {
  @apply flex items-center gap-md;
}

.main-brand .main-brand__name_app {
  font-weight: bold;
}
