<header class="main-header-container">
  <div class="main-header">
    <div class="main-brand">
      <img
        class="main-brand__logo"
        src="/assets/img/main-logo-ultra-hotels-transparent.png"
        width="60px"
        height="60px"
        alt="Ultra Hotels logo" />
      <h1 class="main-brand__name_app text-display-sm">UltraHotels</h1>
    </div>
    <div>
      <app-button
        text="Ingresar"
        size="small"
        classStyles="font-bold"
        (click)="openAuthenticationModal()">
        <span class="mr-4">
          <app-icon name="matLoginRound" size="1.5rem"></app-icon>
        </span>
      </app-button>
    </div>
  </div>
</header>
