<div>
  <section class="register-user">
    <div class="register-user__header">
      <img
        class="main-brand__logo"
        src="/assets/img/main-logo-ultra-hotels-transparent.png"
        width="60px"
        height="60px"
        alt="Ultra Hotels logo" />
      <h2 class="register-user__header__title text-headline-lg">
        Crear Cuenta
      </h2>
    </div>
    <div class="register-user__body">
      <div class="oauth-container">
        <div class="w-full">
          <app-google-auth-button
            (clickButton)="registerUserWithGoogle()"
            description="Registrate con tu cuenta de Google"></app-google-auth-button>
        </div>
        <div class="w-full flex items-center gap-2">
          <div class="separator-oauth"></div>
          <span class="inline-block w-[5%] text-center"><i>o</i></span>
          <div class="separator-oauth"></div>
        </div>
      </div>
      <form class="traveller-authentication-form">
        <div class="w-full">
          <p-floatLabel class="w-full">
            <input
              id="email"
              type="email"
              pInputText
              class="w-full"
              [formControl]="travellerRegisterForm.controls.email" />
            <label for="email">Correo</label>
          </p-floatLabel>
          <app-errors-form-messages
            [control]="travellerRegisterForm.controls.email"
            displayName="El correo"></app-errors-form-messages>
        </div>
        <div class="w-full">
          <p-floatLabel class="w-full">
            <input
              id="password"
              type="password"
              pInputText
              class="w-full"
              autocomplete="current-password"
              [formControl]="travellerRegisterForm.controls.password" />
            <label for="password">Contraseña</label>
          </p-floatLabel>
          <app-errors-form-messages
            [control]="travellerRegisterForm.controls.password"
            displayName="La contraseña"></app-errors-form-messages>
        </div>
        <div class="w-full">
          <p-floatLabel class="w-full">
            <input
              id="repeat-password"
              type="password"
              pInputText
              class="w-full"
              [formControl]="travellerRegisterForm.controls.repeatPassword" />
            <label for="repeat-password">Repetir Contraseña</label>
          </p-floatLabel>
          <app-errors-form-messages
            [control]="travellerRegisterForm.controls.repeatPassword"
            displayName="La contraseña repetida"></app-errors-form-messages>
        </div>

        <app-button
          text="Crear mi cuenta"
          type="submit"
          (click)="registerUserEmailAndPassword()"></app-button>

        <p>
          Ya tengo cuenta.
          <button
            type="button"
            class="register-redirect-button"
            (click)="openLoginModal()">
            Ingresar
          </button>
        </p>
      </form>
    </div>
  </section>
</div>
