.hotel-to-users-item {
  @apply flex flex-col items-end;
}

.hotel-to-users-item .hotel-item-header__image {
  max-height: 120px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hotel-item-body {
  @apply flex flex-col justify-between;
}

::ng-deep p-card.hotel-to-users-item .p-card {
  border-radius: 20px;
  border: none;
  @apply shadow-md;
}

::ng-deep p-card.hotel-to-users-item .p-card-body .p-card-content {
  @apply p-0;
}

.hotel-to-users-item .hotel-item-body .hotel-item-body__title-hotel {
  @apply p-0;
  @apply mt-2;
  @apply font-bold truncate;
}

.hotel-item-body .hotel-item-body__description-hotel {
  @apply line-clamp-1;
}

.hotel-item-footer {
  @apply flex justify-center;
}

.hotel-item-footer__settings {
  @apply flex justify-between;
}
