<div class="room-hotel-item">
  <div class="room-item-body">
    <img
      alt="Hotel Alto"
      class="room-item__image"
      src="https://static01.nyt.com/images/2019/03/24/travel/24trending-shophotels1/24trending-shophotels1-superJumbo.jpg" />

    <div class="room-item-body__info">
      <div class="room-item-body__pre-header">
        <p-tag
          [severity]="room?.isAvailable ? 'success' : 'secondary'"
          [value]="room?.isAvailable ? 'Disponible' : 'No disponible'" />
        <div class="room-item-body__pre-header__settings">
          <app-room-hotel-configuration
            [actualHotel]="actualHotel"
            [room]="room"></app-room-hotel-configuration>
        </div>
      </div>

      <h3 class="hotel-item-body__title-room">
        {{ room?.type }}
      </h3>
      <p class="hotel-item-body__description-room text-body-sm">
        {{ room?.description }}
      </p>
      <div class="mt-2 flex flex-col">
        <span class="text-caption-lg">
          <app-icon
            name="matPeopleOutlineRound"
            size="1.2rem"
            class="mr-2"></app-icon>
          3 personas max
        </span>
        <span class="text-caption-lg">
          <app-icon
            name="matLocationOnRound"
            size="1.2rem"
            class="mr-2"></app-icon>
          303
        </span>
      </div>
    </div>
  </div>
</div>
