<button (click)="this.op.toggle($event)">
  <p-avatar
    [label]="sessionUser?.user?.email?.at(0)?.toUpperCase()"
    styleClass="mr-2"
    size="large"
    shape="circle">
    <p-overlayPanel #op>
      <div class="p-d-flex p-flex-column p-ai-center">
        <span
          ><app-icon name="matEmailRound" class="mr-2"></app-icon
          >{{ sessionUser?.user?.email }}</span
        >
      </div>
      <hr class="mt-3" />
      <div class="mt-5">
        <app-button text="Cerrar Sesión" size="small" (click)="logOut()">
          <app-icon name="matLogOutRound" class="mr-2"></app-icon>
        </app-button>
      </div>
    </p-overlayPanel>
  </p-avatar>
</button>
