.google-auth-button {
  @apply flex items-center;
  @apply rounded-full;
  border : 1px solid rgb(var(--ds-gray-color-200));
  @apply px-5 py-2;
  @apply w-full;
}
.google-auth-button:hover {
  @apply shadow-sm;
}

.google-auth-button .google-auth-button__icon {
  flex: 1;
  width : 2rem;
  height : 2rem;
  background-image : url("/assets/img/google-icon.svg");
  background-repeat : no-repeat;
  min-width : 3rem;
  background-size : 2rem 2rem;
}

.google-auth-button .google-auth-button__description{
  @apply inline-block;
  @apply w-full;
  flex: 6;
  @apply text-center ;
}
