<div class="card hotel-settings">
  <button class="hotel-settings__button" (click)="roomConfig.toggle($event)">
    <app-icon name="matPendingRound"></app-icon>
  </button>
  <p-overlayPanel #roomConfig class="hotel-settings__overlay">
    <div class="flex flex-col gap-3 items-start">
      <button
        class="hover:bg-primary-50 p-2 w-full"
        (click)="openEditRoomModal()">
        <span class="text-primary-900">
          <app-icon name="matEditNoteRound"></app-icon>
        </span>
        Editar habitación
      </button>
      <button
        class="hover:bg-primary-50 p-2 w-full"
        (click)="handleDeleteRoom($event)">
        <span class="text-error">
          <app-icon name="matDeleteRound"></app-icon>
        </span>
        Eliminar habitación
      </button>
    </div>
  </p-overlayPanel>
</div>
<p-confirmDialog></p-confirmDialog>
